<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Payment\Model\Method\AbstractMethod">
        <plugin name="filterMethods"
                type="\Netzexpert\PaymentMethodMap\Plugin\Payment\Model\Method\AbstractMethodPlugin"
                sortOrder="100" />
    </type>
    <type name="\Magento\Payment\Model\Method\Adapter">
        <plugin name="filterAdapters"
                type="\Netzexpert\PaymentMethodMap\Plugin\Payment\Model\Method\AdapterPlugin"
                sortOrder="100" />
    </type>
</config>